ReadDILRecords/Web References/SalesDataService/SalesDetails.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/SalesDetails" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/SalesDetails" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/SalesDetails" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="SalesData">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="counter" type="int" />
            <element minOccurs="1" maxOccurs="1" name="salesDetails" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="SalesData_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="salesDetails" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="Get_Repl_Counter">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="dateFrom" type="date" />
            <element minOccurs="1" maxOccurs="1" name="dateTo" type="date" />
          </sequence>
        </complexType>
      </element>
      <element name="Get_Repl_Counter_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="long" />
            <element minOccurs="1" maxOccurs="1" name="dateFrom" type="date" />
            <element minOccurs="1" maxOccurs="1" name="dateTo" type="date" />
          </sequence>
        </complexType>
      </element>
      <element name="Counters">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="counters" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="Counters_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
    </schema>
  </types>
  <message name="SalesData">
    <part name="parameters" element="tns:SalesData" />
  </message>
  <message name="SalesData_Result">
    <part name="parameters" element="tns:SalesData_Result" />
  </message>
  <message name="Get_Repl_Counter">
    <part name="parameters" element="tns:Get_Repl_Counter" />
  </message>
  <message name="Get_Repl_Counter_Result">
    <part name="parameters" element="tns:Get_Repl_Counter_Result" />
  </message>
  <message name="Counters">
    <part name="parameters" element="tns:Counters" />
  </message>
  <message name="Counters_Result">
    <part name="parameters" element="tns:Counters_Result" />
  </message>
  <portType name="SalesDetails_Port">
    <operation name="SalesData">
      <input name="SalesData" message="tns:SalesData" />
      <output name="SalesData_Result" message="tns:SalesData_Result" />
    </operation>
    <operation name="Get_Repl_Counter">
      <input name="Get_Repl_Counter" message="tns:Get_Repl_Counter" />
      <output name="Get_Repl_Counter_Result" message="tns:Get_Repl_Counter_Result" />
    </operation>
    <operation name="Counters">
      <input name="Counters" message="tns:Counters" />
      <output name="Counters_Result" message="tns:Counters_Result" />
    </operation>
  </portType>
  <binding name="SalesDetails_Binding" type="tns:SalesDetails_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="SalesData">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/SalesDetails:SalesData" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="SalesData">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="SalesData_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Get_Repl_Counter">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/SalesDetails:Get_Repl_Counter" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Get_Repl_Counter">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Get_Repl_Counter_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Counters">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/SalesDetails:Counters" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Counters">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Counters_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="SalesDetails">
    <port name="SalesDetails_Port" binding="tns:SalesDetails_Binding">
      <address location="http://103.138.239.29:7047/DynamicsNAV71/WS/Devyani%20International%20Ltd(KFC)/Codeunit/SalesDetails" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>